<nav class = "nav_principal2" >
    <div class = "navIntoNav2">
      <a href=""><i class="fas fa-star" id="bordeRellenoIconos"></i></a>
      <a href="">Templates</a>
      <a href="">Blog</a>
      <a href="">Upgrade</a>
      <a href="">About Us</a>
      <a href="">Contact Us</a>
      <a href="">Help</a>
    </div>
     <div class = "navOtro2" id="bordeRellenoIconos">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-discord"></i>
     </div>
 </nav>
