<nav class = "nav_principal2" >
    <!-- <div class = "navlogo2"><a href="/dynamicWebJSP01/index.html"><img src="/dynamicWebJSP01/imagenes/birBiteLogo.png"  width="80" height="40"></a></div> -->
     <div class = "navIntoNav2" id = "borde2">
      <a href="/dynamicWebJSP01/index.html"><i class="fas fa-star" id="bordeRellenoIconos"></i></a>
       
      <a href="/dynamicWebJSP01/html/Freddy.html">Freddy´s Nightmare</a>
      <a href="/dynamicWebJSP01/html/CaveSurvive.html">Cave Survive</a>
      <a href="/dynamicWebJSP01/html/SpaceScape.html">Space Scape</a>
      <a href="/dynamicWebJSP01/html/Blog.html">Blog</a>
      <a href="/dynamicWebJSP01/html/Join.html">Join</a>
      <a href="/dynamicWebJSP01/html/Team.html">Team</a>
      <a href="/dynamicWebJSP01/html/Contact.html">Contact</a>
      <a href="/dynamicWebJSP01/html/Store.html">Store</a>
      <a href="/dynamicWebJSP01/html/Descargas.jsp">Downloads</a>
     </div>
     <div class = "navOtro2" id="bordeRellenoIconos">
       <!--  <a href="/dynamicWebJSP01/html/Forms/Formulario_Acceso.jsp">Log in</a>
       <a href="/dynamicWebJSP01/html/Forms/Formulario_Registro.jsp">Sign in</a>-->
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-discord"></i>
     </div>
 </nav>
