<footer>
    <nav class = "nav_principal3">
        <div class = "navIntoNav3">
          <a href=""><i class="fas fa-star" id="iconosBlancos"></i></a>
          <a href="">Community</a>
          <a href="">Tutorials</a>
          <a href="">About Us</a>
          <a href="">Contact Us</a>
          <a href="">Terms of Use</a>
          <a href="">Privacy Policy</a>
          
         </div>
         <div class = "navOtro3" id="iconosBlancos">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-discord"></i>
            <i class="fas fa-rss"></i>
         </div>
     </nav>
    </footer>
